<div fxFlex>
<mat-toolbar color="primary" >
  
  
    <img src="../../assets/logo.png" alt="logo">
    
  

  
  <div fxFlex fxLayoutAlign="center">
      
    <a mat-button routerLink='/home'><span><i class="fa fa-home"></i></span> Home</a>
  <a mat-button routerLink='/about'><span><i class="fa fa-info"></i></span> Aboutus</a>
  <a mat-button routerLink='/contact'><span><i class="fa fa-address-card"></i></span> Contact us</a>
  <a mat-button routerLink='/register'><span><i class="fa fa-user-plus"></i></span> Registeration</a>
  <a mat-button routerLink='/login'><span><i class="fa fa-sign-in"></i></span> Login</a>
</div>

</mat-toolbar>
</div>