/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';/*
@import '../node_modules/font-awesome/css/font-awesome';*/
.container {
    margin: 20px;
    display:flex;
}
body{
    margin: 0px;
    padding: 0px;
}
.flex-spacer {
    flex: 1 1 auto;
  }