<div fxflex  class="container" fxLayout="row" fxLayoutGap="10px" >
<mat-card style="width: 500px;">
  <mat-card-title>
    Register Employee
  </mat-card-title>
  <mat-card-content>
    
    <form novalidate [formGroup]="employeeForm" #employeeform="ngForm" (ngSubmit)="onSubmit()">
      <P>
        <mat-form-field style="width: 300px;">
          <input matInput placeholder="Employee Name" formControlName="name" type="text" required>
          <mat-error *ngIf="employeeForm.get('name').hasError('required') && employeeForm.get('name').touched">Name is required</mat-error>
        </mat-form-field>
      </P>
      <p>
        <mat-form-field style="width: 300px;">
        <input matInput placeholder="phoneNo" formControlName="phoneno" type="text" required>
        <mat-error *ngIf="employeeForm.get('phoneno').hasError('required') && employeeForm.get('phoneno').touched">Phoneno is required</mat-error>
      </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 300px;">
          <input matInput placeholder="email" formControlName="email" type="email" required>
          <mat-error *ngIf="employeeForm.get('email').hasError('required') && employeeForm.get('email').touched">Email is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field style="width: 300px;">
          <input matInput placeholder="city" formControlName="city" type="text" required>
          <mat-error *ngIf="employeeForm.get('city').hasError('required') && employeeForm.get('city').touched">City is required</mat-error>
        </mat-form-field>
      </p>
      <p>
          <mat-form-field style="width: 300px;">
            <input matInput placeholder="address" formControlName="address" type="text" required>
            <mat-error *ngIf="employeeForm.get('address').hasError('required') && employeeForm.get('address').touched">Address is required</mat-error>
          </mat-form-field>
        </p>
        <p>
          <button mat-button type="submit" color="primary">Sumbit</button>
          <!--  -->
        </p>
    </form>
  
  </mat-card-content>
</mat-card>
<mat-card style="width: 700px;">
  <mat-card-title>
    Employees
  </mat-card-title>
  <button mat-button color="primary" (click)="getEmployees()">Load</button>
<table mat-table [dataSource]="employees" class="mat-elevation-z8">
   
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="phoneno">
        <th mat-header-cell *matHeaderCellDef> phoneNo </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneno}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> City </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address</th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>
          <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Update </th>
               <td mat-cell *matCellDef="let row"><button mat-button color="primary">Edit</button></td>
               
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                 
                 <td mat-cell *matCellDef="let row"><button mat-button color="primary">Delete</button></td>
              </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>

</div>