<div class="container" fxflex fxLayout="row" fxLayoutGap="10px">
  <mat-card style="width: 500px;">
    <mat-card-title>
      Registeration
    </mat-card-title>
    <mat-card-content>
      <div class="textfield">
        
    <form novalidate [formGroup]="userForm" #userform="ngForm" (ngSubmit)="onSubmit()">
        <div fxflex fxflexOffset="30px">
      <p>
        
      <mat-form-field>
        <input  matInput placeholder="firstname" type="text" formControlName="firstname" required>
        <mat-error *ngIf="userForm.get('firstname').hasError('required') && userForm.get('firstname').touched">first name is required</mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input matInput placeholder="lastname" type="text" formControlName="lastname" required>
        
        <mat-error *ngIf="userForm.get('lastname').hasError('required') && userForm.get('lastname').touched">last name is required</mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input matInput placeholder="email" type="email" formControlName="email" required>
        
        <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">email is required</mat-error>
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password" required>
          
          <mat-error *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">password is required</mat-error>
        </mat-form-field>
        </p>
      <p>
        
          <mat-form-field>
            <input  matInput placeholder="phoneNo" type="text" formControlName="phoneno" required>
          
        <mat-error *ngIf="userForm.get('phoneno').hasError('required') && userForm.get('phoneno').touched">phoneNo is required</mat-error>
          </mat-form-field>
          </p>
          <p>
        
            <mat-form-field>
              <input  matInput placeholder="city" type="text" formControlName="city" required>
            
          <mat-error *ngIf="userForm.get('city').hasError('required') && userForm.get('city').touched">city is required</mat-error>
            </mat-form-field>
            </p>
            <p>
            <mat-form-field>
              <input  matInput placeholder="gender" type="text" formControlName="gender" required>
            
          <mat-error *ngIf="userForm.get('gender').hasError('gender') && userForm.get('gender').touched">gender is required</mat-error>
            </mat-form-field>
            </p>
      </div>
      <button mat-button>Register</button>
    </form>

    </div>
  </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Lorem ipsum
    </mat-card-title>
    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </mat-card-content>
  </mat-card>
</div>